body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
}

#indexs {
    margin-left: -10%;
    margin-top: 6%;
    margin-bottom: 6%;
}

header {
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.9em;
    line-height: 1.2;
    color: #3d4449;
    font-weight: 700;
    width: 1000px;
}

.headers {
    color: slategrey;
    margin: 0;
}

button {
    background-color: rgb(252, 255, 250);
    border: 0;
    padding: 10px;
    width: 35px;
}

.btn-selected {
    background-color: rgb(187, 187, 187);
    background-color: rgba(161, 164, 159, 0.5);
}

.btn-selected h4 {
    font-weight: bolder;
    text-align: center;
}

footer {
    margin-top: 30px;
    padding-top: 70px;
    background-color: #F5F6F7;
}

#chart1 {
    display: block;
}

#chart2 {
    display: none;
}

#chart3 {
    display: none;
}

#chart4 {
    display: none;
}

#chart5 {
    display: none;
}

#chart6 {
    display: none;
}

#chart7 {
    display: none;
}

#chart8 {
    display: none;
}

#chart9 {
    display: none;
}

#chart10 {
    display: none;
}


/*

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    stroke: #000;
}

.frame {
    fill: none;
    stroke: #000;
}

#top {
    stroke: rgb(189, 189, 189);
}

.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

circle.hidden {
    fill: #ccc !important;
}

.ticks {
    font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
        line-height: 1.4;
    }
}

.header {
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 5px #f56a6a;
    padding: 6em 0 1em 0;
}

.header h2 {
    font-size: 18px;
}

.sidebar-btn {
    position: absolute;
    top: 25px;
    z-index: 999;
    background-color: #fff;
    padding: 10px 20px;
    color: #f56a6a;
}
.sidebar-btn:hover {
    color: #f56a6a;
    text-decoration: none;
}

.nome-disciplina {
    color: lightgrey;
}

.riscado {
    text-decoration: line-through;
}

h2 {
    margin: 6px;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

*/