body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
}

#indexs {
    margin-left: -10%;
    margin-top: 6%;
    margin-bottom: 6%;
}

header {
    margin-top: 5px;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.9em;
    line-height: 1.2;
    color: #3d4449;
    font-weight: 700;
    width: 1000px;
}

.headers {
    color: slategrey;
    margin: 0;
}

button {
    background-color: rgb(252, 255, 250);
    border: 0;
    padding: 10px;
    width: 35px;
}

.btn-selected {
    background-color: rgb(217, 217, 217);
    background-color: rgba(196, 199, 194, 0.5);
}

.btn-selected h4 {

}

text {
    text-align: center;
    text-anchor: middle;
    word-wrap: break-word;
    position: relative;
}

#chart1 {
    display: block;
}

#chart2 {
    display: none;
}

#chart3 {
    display: none;
}

#chart4 {
    display: none;
}

#chart5 {
    display: none;
}

#chart6 {
    display: none;
}

#chart7 {
    display: none;
}

#chart8 {
    display: none;
}

#chart9 {
    display: none;
}

#chart10 {
    display: none;
}

rect {
    color: #614848;
}
